---
interface Props {
    title: string;
    description: string;
    img: string;
    kind: "Servicio" | "Especialización" | "Capacitación" | "Estudio";
}

const { title, description, img, kind } = Astro.props;
---

<article
    class="max-w-2xs rounded-xl shadow-sm hover:shadow-2xl transition-shadow duration-300 ease-in-out
           bg-white/20 border border-white/30 backdrop-blur-md p-3 flex flex-col flex-wrap gap-4 items-center"
>
    <img
        class="aspect-square object-cover rounded-2xl w-full h-0"
        src={img}
        alt={title}
    />
    <header class="flex flex-col gap-[inherit] p-4">
        <span
            class="inline-flex place-items-center bg-orange-50 text-orange-700 font-semibold w-fit text-xs px-4 py-2 rounded-full text-center"
        >
            {kind}
        </span>
        <p class="text-xs text-gray-800">
            {description}
        </p>

        <h2 class="text-lg font-semibold tracking-tight">{title}</h2>
    </header>
</article>
